header{
    background-color: blue;
    color:azure;
    font-size: large;
    vertical-align: middle;
    font-family: Arial,Andalus,"Arabic Typesetting";
    /*font-weight: bold;*/
}

.logo{
}

header nav li{
    list-style-type: none;
}

.ofek-logo{
    width: 3%;
    padding-right: 10px;
    vertical-align: middle;
}

span a{
    color: azure;
    text-align: center;
    vertical-align: middle;
    text-decoration: none ;
    /*font-size: large;*/
}


span a:hover:not(.active) {
    background-color: cornflowerblue;
}

li a{
    color: azure;
    /*text-align: center;*/
    text-decoration: none ;
    vertical-align: middle;
    font-size: smaller;
}

li a:hover:not(.active) {
    background-color: cornflowerblue ;
}

.ofek-logo:hover:not(.active) {
    background-color: cornflowerblue;
}

.opt-list{
    float: right;
    padding-right: 10px;
}

.nav-logo{
   /*float: left;*/
}