header{
    background-color: blue;
    color:azure;

}

#ofek-img{
    width: 10%;
    margin-bottom: auto;
    padding-right: 10px;
}

.header-li2{
    /* float: left;
     padding-right: 5px;*/
    float: left;


}
.header-li{
    /* float: right;*/
    /*padding-right: 5px;*/
    margin-left: auto;
    padding-right: 5px;
    display: inline-block;
    text-align: right
}

article
{
    display: inline-block;
    vertical-align: middle;

}
aside{
    display: inline-block;
    vertical-align: middle;

}