header{
    background-color: blue;
    color:azure;
    font-size: large;
    vertical-align: middle;
    font-family: Arial,Andalus,"Arabic Typesetting";
    /*font-weight: bold;*/
}

.logo{
}

header nav li{
    list-style-type: none;
}

.ofek-logo{
    width: 3%;
    padding-right: 10px;
    vertical-align: middle;
}

span a{
    color: azure;
    text-align: center;
    vertical-align: middle;
    text-decoration: none ;
    /*font-size: large;*/
}


span a:hover:not(.active) {
    background-color: cornflowerblue;
}

li a{
    color: azure;
    /*text-align: center;*/
    text-decoration: none ;
    vertical-align: middle;
    font-size: smaller;
}

li a:hover:not(.active) {
    background-color: cornflowerblue ;
}

.ofek-logo:hover:not(.active) {
    background-color: cornflowerblue;
}

.opt-list{
    float: right;
    padding-right: 10px;
}

.nav-logo{
    /*float: left;*/
}


header{
    background-color: blue;
    color:azure;
    font-family: Arial,Andalus,"Arabic Typesetting";
    height: 3vw;
    min-height: 15px;
    /* vertical-align: middle; */


}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1vw;
    min-height: 15px;


}

.logo{
}

header nav li{
    list-style-type: none;

}

.ofek-logo{

    height: 2.3vw;
    width: 2.3vw;
}

span a{
    color: azure;
    text-align: center;
    text-decoration: none ;
    margin-top: 25px;
}


header nav li:hover:not(.active) {
    background-color: cornflowerblue;
}
li{
    height: 3vw;
    margin-right: 0.5%;
    margin-left: 0.5%;
    text-align: center;


}
li a{

    color: azure;
    /*text-align: center;*/
    text-decoration: none ;



}

.li-to-left{
    float: right;
    /* padding-right: 10px;*/
}

.li-to-right{
    float: left;
}
