header{
    background-color: blue;
    color:azure;
    font-size: 1vw;
    font-family: Arial,Andalus,"Arabic Typesetting";
    /*font-weight: bold;*/
    height: 3vw;
}

.logo{
    font-size: 2vw;vertical-align: middle;
    height: 3vw;
}



header nav li{
    list-style-type: none;
}

.ofek-logo{
    height: 2.3vw;
    width: 2.3vw;
    padding-right: 10px;
    vertical-align: middle;

}

span a{
    color: azure;
    text-align: center;
    vertical-align: middle;
    text-decoration: none ;

}

li{
    margin-top: 1%;
    height: 3vw;
}

span a:hover:not(.active) {
    background-color: cornflowerblue;
}

li a{
    color: azure;
    /*text-align: center;*/
    text-decoration: none ;
    vertical-align: middle;
}


li a:hover:not(.active) {
    background-color: cornflowerblue ;
}

.ofek-logo:hover:not(.active) {
    background-color: cornflowerblue;
}


.opt-list{
    float: right;
    padding-right: 10px;
}

.nav-logo{
    /*float: left;*/
}



