#main_wrapper{
    width: 100%;
    margin: auto;
}

#paload{
    width: 900px;
    left: 10%;
    margin: auto;
}

#message{
   /* padding-top: 50px;*/
    border-color: blue;
    vertical-align: middle;
}

#submit{
    vertical-align: middle;
}

.ini-block{
    display: inline-block;
    vertical-align: top;
}

.contactList li{
    list-style-type: none;
}