#main_wrapper{
    width: 100%;
    margin: auto;
}

body{
    font-family: Arial,Algerian;
}

#paload{
    width: 100%;

    /*margin-left: 10%;*/

}

.search{

}
.filter{
    margin-left: 5%;
}

.filter li{
    font-size: 1vw;
    display: inline-block;

}

.container{
   /* border: 5px solid aqua;*/
    text-align: center;

}

.boxes, .folowees{
    display: inline-block;
    vertical-align: top;
}

.boxes{
    width: 70%;
 }

.folowees{
    width: 15%;
    border-radius: 3px;
    border: 5px solid #e6e6e6;
    color: black;
    margin: auto;

}
.folowees h4{
    margin: auto;
    color: black;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.5vw;
}

.folowees div{
    width: 56%;
}

.boxes div{
    width: 12%;
    float: left;
}



.box{

    /*width: 12%;*/
    padding: 10px;
    border: 2px solid #e6e6e6;
    margin: 0;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
}

.box:hover:not(.active) {
    border: 2px solid silver;
}

.box div{
    width: 60%;
    padding-right: 20%;
    padding-left: 20%
}

.box div img{
    margin: auto;
}

.box span{
    /*font-size: small;*/
    font-size: 1vw;
}

.box div img form{
    border-radius: 20%;
}

.user-pic{
    width: 100%;
}

