<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css" />
    <script src="../javascript/index.js"></script>


</head>

<body id="yogev">
<div class="container">
    <div class="header-class row">
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <span>
                            <img class="navbar-brand" src="../../images/ofek.png">
                            <a class="navbar-brand" href="index.html">Ofek Twitter</a>
                        </span>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="pull-right"><a href=""><span class="links">Sign in</span></a>
                            <li class="pull-right"><a href=""><span class="links">Sign up</span></a></li>
                            <li class="pull-right"><a href="Users.html"><span class="links">Users</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <textarea class="col-lg-12" id="newTwitText" rows="4" cols="80"></textarea>
            <button class="btn btn-primary pull-right" id="publish">publish</button>
        </div>
    </div>

    <div id="twit-list" class="container">

    </div>
    <div id="testContainer">

    </div>


</div>


</body>
</html>