<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<div id="main_wrapper">
    <header>
        <nav style="align-content: right;">
            <div class="div-logo"><img class="ofek-logo" src="../../images/ofek.png"></div>
            <div class="div-title"><a href="index.html"><span class="title">Ofek Twitter</span></a></div>

            <ul>
                <li><a href=""><span class="links">Sign in</span></a></li>
                <li><a href=""><span class="links">Sign up</span></a></li>
                <li><a href="Users.html"><span class="links">Users</span></a></li>
            </ul>

        </nav>
    </header>

    <div id="paload">
        <div>
            <form>
                <ul>
                    <textarea id="message" class="header-li" rows="4" cols="80"></textarea>
                    <button id="submit" class="header-li">publish</button>
                </ul>
            </form>
        </div>

        <div>
            <ul class="contactList">
                <li>
                    <section>
                        <img class="user-img" src="../../images/useravatar.png">
                        <span class="">

                                <strong>name</strong><br/>
                                    fdsfsdfds

                            </span>
                    </section>
                </li>
                <li>
                    <section>
                        <img class="user-img" src="../../images/useravatar.png">
                        <span class="">

                                <strong>name</strong><br/>
                                    fdsfsdfds

                            </span>
                    </section>
                </li>
                <li>
                    <section>
                        <img class="user-img" src="../../images/useravatar.png">
                        <span class="">

                                <strong>name</strong><br/>
                                    fdsfsdfds

                            </span>
                    </section>
                </li>
                <li>
                    <section>
                        <img class="user-img" src="../../images/useravatar.png">
                        <span class="">

                                <strong>name</strong><br/>
                                    fdsfsdfds

                            </span>
                    </section>
                </li>
                <li>
                    <section>
                        <img class="user-img" src="../../images/useravatar.png">
                        <span class="">

                                <strong>name</strong><br/>
                                    fdsfsdfds

                            </span>
                    </section>
                </li>
            </ul>
        </div>
    </div>

    <footer>

    </footer>

</div>
</body>
</html>