header{
    background-color: #0a64eb;
    font-size: 1vw;
    font-family: Arial,Andalus,"Arabic Typesetting";
    height: 3vw;
    font-xweight: bold;
}

header nav{

}
nav div{
    float: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

.div-logo{
    padding-top: 0.5vw;
    height: 2.5vw;
}

.div-title{
    padding-top: 1vw;
    height: 2vw;
}


nav ul li{
    float: right;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 0.8vw;
    height: 2vw;


}

header nav li{
    list-style-type: none;
}

nav div span{

    margin-top: 2%;
}

header a{
    text-decoration: none ;
}

.ofek-logo{
    height: 2.3vw;
    width: 2.3vw;
}

.title{
   text-align: center;
    color: azure;
}
.links{
    text-align: center;
    color: azure;
}

nav div:hover:not(.active) {
    background-color: cornflowerblue;
}

nav ul li:hover:not(.active) {
    background-color: cornflowerblue;
}
